# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/

# Environment files
.env
.env.*  # multiple env seperti .env.development, .env.production

# Database backups
backup/*
!backup/untitled
!backup/.gitkeep
